<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<p>EZ-AR Login System</p>
<form action="/users/login" method="post">
    Email:<input type="text" name="email"> </br>
    Password:<input type="password" name="pwd"> </br>
    <input type="submit" value="Submit">
</form>
</body>
</html>