<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<p>EZ-AR Register System</p>
<form action="/users/register" method="post">
    Email:<input type="text" name="email"> </br>
    Username:<input type="text" name="username"> </br>
    Password:<input type="password" name="pwd"> </br>
    <!--MD5:<input type="text" name="md5"></br>-->
    <input type="submit" value="Submit">
</form>
</body>
</html>
